@import '~@/variable.less';
:global {
  .chat-message {
    display: flex;
    flex-flow: row;
    width: 100%;
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
    &-avatar {
      width: 36px;
      height: 36px;
      margin-bottom: 16px;
    }
    &-time {
      font-size: 14px;
      line-height: 20px;
      color: @N650;
    }
    &-content {
      position: relative;
      top: 20px;
      padding: 4px;
      border-radius: 4px;
      max-width: 400px;
    }
  }
}
