:global {
  .forget_password_form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .forget_password_footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    height: 32px;
    &_button {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}