.select-member__mobile {
  box-sizing: content-box;
  display: flex;
  width: 100%;
  height: 64px;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid @N400;
  &--active {
    background: @N100;
  }
  &__status {
    width: 24px;
    height: 24px;
    background: @N300;
    margin-right: 12px;
    border-radius: 50%;
  }
  &__selected {
    font-size: 24px;
    color: @N300;
    margin-right: 12px;
  }
  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 16px;
  }
  &__username {
    user-select: none;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: @N900;
    height: 28px;
    max-width: calc(100% - 116px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &-skeleton {
    box-sizing: content-box;
    align-items: center;
    width: 100%;
    height: 64px;
    padding: 12px;
    border-bottom: 1px solid @N400;
    &__status {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      margin-right: 12px;
    }
    &__avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 16px;
    }
    &__username {
      height: 28px;
      width: calc(100% - 116px);
    }
  }
}
