@import '~@/variable.less';
@chatHeaderHeight: 64px;
@chatSenderHeight: 80px;
:global {
  .chat-room {
    background: @N100;
    flex: 1;
    height: 100%;
    min-width: 1000px;
    overflow-x: auto;
    &-header {
      box-sizing: border-box;
      height: @chatHeaderHeight;
      width: 100%;
      border-bottom: 1px solid @N300;
      display: flex;
      align-items: center;
      padding-left: 32px;
      &-username {
        font-size: 18px;
        line-height: 28px;
        font-weight: 500;
        color: @N900;
      }
    }
    &-container {
      height: calc(100% - @chatHeaderHeight);
      width: 100%;
    }
    &-content {
      box-sizing: border-box;
      width: 100%;
      height: calc(100% - @chatSenderHeight);
      padding: 24px;
      overflow-x: hidden;
      overflow-y: auto;
      &-unread {
        height: 20px;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        color: #1afa29;
        margin: 24px 0;
        &:hover {
          cursor: pointer;
        }
        &__icon {
          font-size: 14px;
          margin-right: 4px;
        }
        &__text {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
    &-send {
      box-sizing: border-box;
      width: 100%;
      height: @chatSenderHeight;
      padding: 0 24px;
      border-top: 1px solid @N300;
      background: #fff;
      display: flex;
      align-items: center;
      &__form {
        flex: 1;
      }
      &__input {
        height: 32px;
        background: @N200;
      }
      &__btn {
        margin-left: 20px;
        height: 32px;
        width: 80px;
      }
    }
    .ant-form-item {
      line-height: 1;
      margin-bottom: 0;
    }
    .ant-form-item-control {
      line-height: 1;
    }
    .ant-spin-nested-loading > div > .ant-spin {
      position: fixed;
      top: 25vh;
      left: 25vh;
    }
  }
}
