@import '~@/variable.less';
:global {
  .chat-page {
    display: flex;
    flex-flow: row;
    box-sizing: border-box;
    width: 100%;
    height: calc(100vh - 106px);
    min-height: 500px;
    background: #fff;
  }
}
