{
  "presets":[
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins":[
    [
      "named-asset-import",
      {
        "loaderMap": {
          "svg": { "ReactComponent": "@svgr/webpack?-svgo,+titleProp,+ref![path]" }
        }
      }
    ],
    [
      "import",{
        "libraryName": "antd",
        "style": true
      }
    ],
    ["@babel/plugin-syntax-dynamic-import"], // 支持import懒加载
    ["@babel/plugin-proposal-class-properties", { "loose": true }] // 支持class的转译（loose为true时类属性将被编译为赋值表达式而不是 Object.defineProperty）
  ]
}