:global {
  .home_footer {
    flex-basis: 40px;
    background: red;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &_text {
      display: inline-block;
      height: 20px;
      line-height: 20px;
      color: gray;
      font-size: 16px;
    }
  }
}