@import '~@/variable.less';
:global {
  .chat-nav {
    height: 100%;
    width: 80px;
    background: @N300;
    display: flex;
    flex-flow: column;
    &-avatar {
      width: 48px;
      height: 48px;
      margin: 100px auto 0;
    }
    &-icon {
      font-size: 32px;
      margin: 40px auto 0;
    }
  }
}
