.content-page {
  display: flex;
  width: 100%;
  height: calc(100vh - 106px);
  font-size: 16px;
  &__content {
    margin-left: 40px;
    flex: 1;
  }
  &__btn {
    display: block;
    padding: 5px 10px;
    margin: 20px;
  }
  &__img {
    width: 240px;
    height: 240px;
    margin-top: 32px;
    margin-left: 32px;
  }
  &__container {
    max-width: 100%;
    background-color: #f7f7f7;
    height: 0;
    overflow: hidden;
    padding-bottom: 75%;
  }
}
